<!-- The follow is called the "at"page directive and is the relative URL for navigating to 
this razor page -->
@page "/firstpage" 

<!-- The PageTitle holds the text that will be seen in the Tab for the web page -->
<PageTitle>First Page</PageTitle>

<!-- The following two lines are HTML content -->
<h1>FirstPage</h1>

<p> This is my very <strong>1st</strong> <span style="color:blue;">Blazor</span> page.</p>



<!-- The following block will allow us to add C# code into the page for more dynamic tasks -->
@code {
    
}
