@page "/privacy"
<PageTitle>Privacy</PageTitle>
@rendermode InteractiveServer

<h1>Privacy</h1>

<h2>Credits and attributions</h2>

<p>The images for WestWind were a modification of an image file supplied by:
    <a href="https://www.vecteezy.com/vector-art/491781-old-tall-sailing-ship-vector-illustration" target="_blank">
        Vectors by Vecteezy</a>
    <br/><br/>
    This is a way that you can give credit to sources outside of yur original work
    that you are use for educational pruposes. This does not cause copyright infringment
    if the source allows for use of its material for <strong>non-money gains</strong>.
</p>

<p>Notes on Copyright Protection</p>
<img src="./images/Copyright-Protected-work.png" alt="copyright" />
@code {

}
